fastapi
uvicorn[standard]
gunicorn
jinja2
sqlalchemy[asyncio]
asyncpg
greenlet
bcrypt
python-multipart
python-jose[cryptography]
google-generativeai
python-dotenv
groq
authlib
itsdangerous
httpx
mangum
razorpay
redis
appwrite==15.3.0
aiosqlite
hypercorn
json-repair
numpy
pandas
